<app-spinner />
<div class="layout-wrapper">
  <div class="layout-topbar-wrapper">
    <ng-container *ngIf="isAuthenticated()">
      <app-topbar />
    </ng-container>
  </div>
  <div class="layout-sidebar-wrapper">
    <ng-container *ngIf="isAuthenticated()"> <app-sidebar /></ng-container>
  </div>
  <div class="layout-main" [ngClass]="{ 'sidebar-active': sidebarActive() && isAuthenticated() }">
    <div class="layout-main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="layout-footer-wrapper">
    <app-footer />
  </div> -->
</div>
