$text-success: #22c55e;
$text-warning: #eab308;
$text-error: #ea0808;
// $text-warning: #cc8925;
// $text-warning: #E8B30B;
$text-white: #ffffff;

.notification {
  min-height: 60px;
  border-radius: 4px;
  backdrop-filter: blur(10px);
  max-width: 375px;

  &-success {
    @extend .notification;
    // background-color: rgba(76, 175, 80, 0.5);
    background-color: rgba(34, 197, 94, 0.16);
    color: $text-success;
    border: 1px solid rgba(21, 128, 61, 0.36);
  }
  &-warning {
    @extend .notification;
    background-color: rgba(197, 194, 34, 0.16);
    color: $text-success;
    border: 1px solid rgba(21, 128, 61, 0.36);
  }
  &-error {
    @extend .notification;
    background-color: rgba(197, 34, 34, 0.16);
    color: $text-error;
    border: 1px solid rgba(128, 21, 21, 0.36);
  }
}

.content {
  display: flex;
  min-height: 60px;
  .data {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    padding-right: 30px;
  }
}
.icon-container {
  padding-right: 10px;
  margin-top: 5px;
}
.icon {
  font-size: 30px;
}
.title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  &-success {
    @extend .title;
    color: $text-success;
  }
  &-warning {
    @extend .title;
    color: $text-warning;
  }
  &-error {
    @extend .title;
    color: $text-success;
  }
  &-info {
    @extend .title;
    color: $text-success;
  }
}

.message {
  display: flex;
  width: 100%;
  border-radius: 4px;
  color: $text-white;
}

.message-content {
  display: flex;
  align-items: center;
}
