<div class="main-page">
  <div class="main-container">
    <div class="img-container">
      <img src="assets/img/butterfly.png" alt="" srcset="" />
    </div>
    <div class="form-container">
      <h1 class="text-primary">Login</h1>
      <form class="register-form" [formGroup]="formGroup">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            [errorStateMatcher]="errorMatcher"
            placeholder="Ex. pat@example.com"
          />
          @if (formGroup.controls['email'].hasError('email') &&
          !formGroup.controls['email'].hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
          } @if (formGroup.controls['email'].hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            [formGroup]="formGroup"
            formControlName="password"
            [errorStateMatcher]="errorMatcher"
            placeholder="password"
          />
          @if (formGroup.controls['email'].hasError('email') &&
          !formGroup.controls['email'].hasError('required')) {
          <mat-error>Please enter your password</mat-error>
          } @if (formGroup.controls['email'].hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <div class="btn-container">
          <button mat-raised-button color="primary" (click)="submit($event)">
            Login
          </button>
          <button
            mat-stroked-button
            color="accent"
            [routerLink]="'/auth/sign-up'"
            routerLinkActive="router-link-active"
          >
            Sign-up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
