.sidenav-container {
  height: calc(100vh - 128px);
  width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.main-sidenav {
  display: flex;
  width: max-content;
}
.sidenav-content {
  display: flex;
  flex-direction: column;
}

.grid-list {
  margin-top: 10px;
}
.menu-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.menu-logo {
  width: max-content;
  height: max-content;
  font-size: 48px;
}
.menu-item {
  color: #ffffff;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.menu-item:hover {
  opacity: 80%;
  color: #ec1765;
  background-color: #242424;
}

.item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  width: 100%;
}

.item-title {
  margin-left: 7px;
}
.menu-icon {
  margin-left: auto;
  margin-right: 5px;
}

// old styles
// .menu-item {
//   color: #ffffff;
//   font-size: 14px;
//   display: flex;
//   flex-direction: row;
//   cursor: pointer;
//   transition: all 0.1s ease-in-out;
//   -webkit-transition: all 0.1s ease-in-out;
//   -moz-transition: all 0.1s ease-in-out;
//   -ms-transition: all 0.1s ease-in-out;
//   -o-transition: all 0.1s ease-in-out;
// }
// .menu-item:hover {
//   opacity: 80%;
//   background-color: #242424;
// }

// .item-content {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   user-select: none;
// }

// .menu-icon {
//   margin-left: 10px;
// }
