<div class="toggle-btn">
  <button mat-icon-button (click)="toggle()" color="primary">
    <mat-icon>{{
      isOpen ? "keyboard_arrow_left" : "keyboard_arrow_right"
    }}</mat-icon>
  </button>
</div>
<mat-drawer-container class="sidenav-container">
  <mat-drawer #sidebar class="main-sidenav" mode="side">
    <div class="sidenav-content">
      <span class="menu-logo-container">
        <mat-icon
          class="menu-logo"
          aria-hidden="false"
          aria-label="settings"
          fontIcon="developer_board"
        />
      </span>
      <div class="slider-container">
        <mat-slide-toggle [(ngModel)]="enableNotifications" color="primary"
          >Enable notifications</mat-slide-toggle
        >
      </div>
      <div class="slider-container">
        <mat-slide-toggle [(ngModel)]="connectionStatus" color="primary"
          >Status:
          {{ connectionStatus ? "Online" : "Offline" }}</mat-slide-toggle
        >
      </div>
      <mat-grid-list cols="1" rowHeight="3:1" class="grid-list">
        <ng-container *ngFor="let item of menuItems">
          <mat-grid-tile class="menu-item">
            <span class="item-content">
              <span class="item-title">
                {{ item.title }}
              </span>
              <mat-icon
                class="menu-icon"
                aria-hidden="false"
                aria-label="button"
                [fontIcon]="item.icon"
              />
            </span>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </div>
  </mat-drawer>
</mat-drawer-container>
